body{
    display: flex;
    background-color: blueviolet;
}
.container div{
    background-color: darkblue;
    color: white;
    padding: 6px 36px 8px 36px;
    border-radius: 5px;
    font-size: 28px;
}
.container a{
    text-decoration: none;
}