header{
    position: fixed;
    right: 5px;
    top: 5px;
}
body{
    display: flex;
    background-color: blueviolet;
    justify-content: center;
}
nav {
    box-shadow: 0 0 15px 15px #4040404f;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
nav div {
    background-color: #cfeeff;
    color: #004372;
    box-shadow: 0px 5px 15px 0px #5656568c;
    padding: 6px 36px 8px 36px;
    border-radius: 6px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    opacity: 1;
    transition-duration: .8s;
    transition-property: opacity;
}
nav div:hover {
    opacity: .7;
    transition-duration: .3s;
    transition-property: opacity;
}
nav a:not(:last-child) div {
    margin-bottom: 12px;
}
nav a{
    text-decoration: none;
}
