body{
    display: flex;
    background-color: blueviolet;
}
#container div{
    background-color: #8875ff;
    color: #004372;
    padding: 6px 36px 8px 36px;
    border-radius: 5px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}
#container a:not(:last-child) div {
    margin-bottom: 5px;
}
#container a{
    text-decoration: none;
}
