body {
    direction: rtl;
    margin: 0;
    font-family: Arial;
    -webkit-user-select: none;
    user-select: none;
    background-color: #505050;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    background-color: #8d8d8d;
}

#header>.container.bsd>.text.bsd {
    font-size: 24px;
    font-weight: bolder;
    color: #3f3f3f;
}

#main {
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

#main>.container.a {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-radius: 6px;
    padding: 8px;
    background-color: rgb(172, 172, 172);
}

@media screen and (max-width: 1100px) {
    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main>.container.a {
        max-width: 700px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #main>.container.a>.container.listcontainers>.container.liststories>.button.story {
        width: 100% !important;
    }
}

#main>.container.a>.container.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;
}

#main>.container.a>.container.heading>.container.subject {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#main>.container.a>.container.heading>.container.subject>.text {
    text-align: center;
    padding: 0;
    font-size: 32px;
    font-weight: bold;
    color: #3f3f3f;
}

#main>.container.a>.container.heading>.container.navB {
    visibility: hidden;
}

#main>.container.a>.container.heading>.container.navbetweencontainers {
    width: 25%;
    text-align: center;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #3f3f3f;
}

#main>.container.a>.container.heading>.container.navbetweencontainers:hover {
    text-shadow: 0 0 15px #000000db;
}

#main>.container.a>.container.listcontainers {
    height: 100%;
    padding-left: 5px;
    border-radius: 3px;
    overflow-y: scroll;
}

#main>.container.a>.container.listcontainers::-webkit-scrollbar {
    width: 10px;
    border-radius: 3px 0 0 3px;
    background-color: rgb(221, 221, 221);
}

#main>.container.a>.container.listcontainers::-webkit-scrollbar-thumb {
    border-radius: 3px 0 0 3px;
    background-color: #444444;
}

#main>.container.a>.container.listcontainers>.container.liststories {
    display: none;
    flex-direction: column-reverse;
    flex-flow: wrap-reverse;
    flex-direction: row-reverse;
}

#main>.container.a>.container.listcontainers>.container.liststories>.button.story {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 3px);
    height: 36px;
    margin-left: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: #505050;
    transition-duration: .3s;
}

#main>.container.a>.container.listcontainers>.container.liststories>.button.story:hover {
    background-color: #383838;
}

#main>.container.a>.container.listcontainers>.container.liststories:not(:last-child) {
    margin-bottom: 3px;
}