body {
    background-color: #505050;
    direction: rtl;
    margin: 0;
    font-family: Arial;
    -webkit-user-select: none;
    user-select: none;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #8d8d8d;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}

#header>.container.bsd>.text.bsd {
    color: #3f3f3f;
    font-weight: bolder;
    font-size: 24px;
}

#main {
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

#main>.container.a {
    height: 100%;
    width: 33.3%;
    background-color: rgb(172, 172, 172);
    border-radius: 6px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    #main>.container.a {
        width: 100%;
    }
}

#main>.container.a>.container.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 15px;
    margin-bottom: 10px;
}

#main>.container.a>.container.heading>.container.subject {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#main>.container.a>.container.heading>.container.subject>.text {
    color: #3f3f3f;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 0;
}

#main>.container.a>.container.heading>.container.navbetweencontainers {
    color: #3f3f3f;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    width: 25%;
    cursor: pointer;
}

#main>.container.a>.container.heading>.container.navbetweencontainers:hover {
    text-shadow: 0 0 15px #000000db;
}

#main>.container.a>.container.listcontainers {
    overflow-y: scroll;
    border-radius: 3px;
    height: 100%;
    padding-left: 8px;
}

#main>.container.a>.container.listcontainers::-webkit-scrollbar {
    background-color: rgb(221, 221, 221);
    width: 10px;
    border-radius: 3px 0 0 3px;
}

#main>.container.a>.container.listcontainers::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius: 3px 0 0 3px;
}

#main>.container.a>.container.listcontainers>.container.liststories {
    display: none;
    flex-direction: column-reverse;
}

#main>.container.a>.container.listcontainers>.container.liststories>.button.story {
    width: 100%;
    height: 32px;
    background-color: #505050;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    transition-duration: .3s;
    cursor: pointer;
}

#main>.container.a>.container.listcontainers>.container.liststories>.button.story:hover {
    background-color: #383838;
}

#main>.container.a>.container.listcontainers>.container.liststories>.button.story:not(:first-child) {
    margin-bottom: 3px;
}

#main>.container.a>.container.listcontainers>.container.liststories:not(:last-child) {
    margin-bottom: 3px;
}