body {
    background: linear-gradient(0deg, rgba(100, 158, 158, 0.85) 10%, rgba(132, 182, 180) 90%);
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    direction: rtl;
    overflow-y: scroll;
    height: 100vh;
}

body>div {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

a {
    text-decoration: none;
}

#intro {
    text-align: center;
}

#intro div {
    font-size: 21px;
    color: #295349;
    background-color: #76b2ae;
    margin-top: 10px;
    letter-spacing: 0.01cm;
    padding: 15px;
    text-align: right;
    border-color: #215048;
    border-width: 4px;
    border-style: solid;
    display: inline-block;
    width: 75%;
    max-width: 600px;
}

#search-files>input::placeholder {
    color: #3b645a;
}

#search-files>input {
    font-size: 21px;
    background-color: #94dad1;
    color: #204038;
    border-color: #204038;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    outline: none;
    padding: 5px 5px 5px;
}

#files-links {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#files-links>a>div {
    color: #19362f;
    font-size: 25px;
    font-family: Arial, serif;
    padding: 10px;
    width: 80%;
    max-width: 800px;
    background-color: #498f87;
    border-width: 2px;
    border-radius: 5px;
    margin-bottom: 8px;
    display: inline-block;
}

#files-links>a>div>mark {
    background-color: #94dad1;
    color: #19362f;
}

#other-links {
    background-color: rgba(45, 107, 100, 0.90);
    display: inline-block;
    width: 50%;
    padding: 6px;
    border-radius: 5px;
    min-width: 400px;
    max-width: 600px;
}

#other-links a div {
    background-color: #52a097;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    color: #1f3f36;
}