body {
    direction: rtl;
    background-color: #7d6c37;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    color: #332c17;
    font-weight: bolder;
    font-size: 38px;
}

body>div::selection {
    color: #7d6c37;
    background-color: #332c17;
}

body>main {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

body>main>div {
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #252102;
    padding: 0;
    font-size: 40px;
    width: 100%;
    overflow: hidden;
}

body>main>div:not(:last-child) {
    margin-bottom: 6px;
}

body>main>div>label {
    display: flex;
    direction: rtl;
    text-align: center;
    box-sizing: border-box;
    color: #2c2516;
    background-color: #7c754f;
    font-weight: bold;
    font-size: 35px;
    min-width: min-content;
    width: 200px;
    padding: 0 10px 5px 10px;
    align-items: center;
    justify-content: center;
}

body>main>div>label::selection {
    color: #7c754f;
    background-color: #2c2516;
}

body>main>div>input {
    box-sizing: border-box;
    color: #2c2516;
    background-color: #6d6542;
    border: none;
    padding: 20px;
    font-size: 40px;
    width: 100%;
    outline: none;
    direction: ltr;
}

body>main>div>input::selection {
    color: #6d6542;
    background-color: #2c2516;
}

body>main>div>input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}