body {
    background-color: #7d6c37;
    text-align: center;
}

body>header {
    color: #332c17;
    font-weight: bolder;
    font-size: 38px;
}

body>div {
    display: inline-block;
    width: 100%;
    text-align: right;
    max-width: 600px;
}

body>div>div {
    text-align: justify;
    box-sizing: border-box;
    background-color: #6b6443;
    color: #2c2516;
    border-radius: 5px;
    border: 2px solid #0d2734;
    padding: 0;
    font-size: 40px;
    margin: 6px 0;
    width: 100%;
}

body>div>div>input {
    box-sizing: border-box;
    background-color: #6b6443;
    color: #2c2516;
    border: 0;
    padding: 20px;
    font-size: 40px;
    width: 70%;
    outline: none;
}

body>div>div>label {
    text-align: center;
    direction: rtl;
    box-sizing: border-box;
    color: #2c2516;
    font-weight: bold;
    font-size: 30px;
    width: 30%;
    float: right;
    padding: 0 10px;
    background-color: rgba(124, 117, 79, 0.5);
    height: 85px;
    line-height: 70px;
}

body>div>div>label>span {
    line-height: 1.1;
    display: inline-block;
    vertical-align: middle;
}

body>div>div>input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
