html {
    direction: rtl;
    font-family: 'Frank Ruhl Libre', serif;
}

body>span {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(247, 247, 247);
    padding: 1px 5px;
}

main {
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    padding: 25px;
    background-color: darkgrey;
    justify-content: center;
    transition-duration: 200ms;
    transition-property: opacity;
}

#container {
    width: 100%;
    height: 100%;
    max-width: 700px;
    box-sizing: border-box;
    background-color: rgb(128, 128, 128);
    display: flex;
    flex-flow: column;
}

#container>.heading {   
    padding: 10px;
    background-color: rgb(56, 56, 56);
    font-size: 27px;
    display: flex;
    justify-content: center;
}

#container>.heading>span {
    padding: 0 8px;
    color: rgb(12, 12, 12);
    background-color: darkgrey;
    user-select: none;
    cursor: pointer;
}

#container>.heading>span:not(:last-child) {
    margin-left: 5px;
}

#container>.content {
    height: 100%;
    overflow-y: auto;
    margin: 15px;
    font-size: 30px;
    text-align: justify;
}