body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(76,145,143,1) 0%, rgba(126,195,193,1) 50%, rgb(93, 143, 142) 100%);
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif
}

body>div:first-of-type {
    font-size: 34px;
    border: 7px outset black;
    color: #032b2a;
    padding: 10px;
    font-weight: bold;
    margin: 10px 0;
    max-width: calc(100% - 50px);
    width: max-content;
    text-align: center;
}

nav {
    border-width: 1px;
    border-style: solid;
    border-color: gray black black gray;
    max-width: calc(100% - 20px);
    width: 632px;
    margin: 10px 0;
}

nav>a {
    display: block;
    padding: 3px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: black gray gray black;
    margin: 3px;
    font-size: 24px;
    text-align: center;
    color: #032b2a;
}

nav:last-child a {
    text-align: right;
}

#main>div {
    box-shadow: 0 0 12px 4px rgb(56, 56, 56);
    padding: 6px;
    border: 3px rgb(209, 209, 82) solid;
    background-color: rgb(104, 99, 26);
}

#main>div:not(:last-child) {
    margin-bottom: 7px;
}

#main>div>div:first-child {
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(230, 230, 195);
    padding: 0 7px;
    cursor: pointer;
}

#main>div>table {
    margin-top: 7px;
    background-color: rgb(218, 218, 166);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(120, 120, 36) rgb(70, 70, 8) rgb(70, 70, 8) rgb(120, 120, 36);
}

#main>div>table:not(:first-child) {
    display: none;
}

#main>div>table>tbody>tr>td {
    display: table-cell;
    background-color: rgb(230, 230, 195);
    padding: 3px 6px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(70, 70, 8) rgb(120, 120, 36) rgb(120, 120, 36) rgb(70, 70, 8);
    font-size: 20px;
    color: rgb(75, 75, 1);
}

#main>div>table>tbody>tr>td:first-child {
    font-weight: bold;
}

table>tbody>tr>td>a {
    color: rgb(75, 75, 1);
    cursor: pointer;
    text-decoration: underline;
}

table>tbody>tr>td>span{
    visibility: hidden;
    padding-left: 6px;
}

a:visited {
    color: rgb(75, 75, 1);
}

#container {
    position: fixed;
    bottom: 8px;
    left: 8px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #4e4e4e57;
}