body {
    background-color: #0f533a;
    color: #00291c;
    margin: 0;
    display: flex;
    justify-content: center;
}

body>div {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: flex-end;
}

body>div>div.first {
    display: flex;
    width: max-content;
    color: #002016;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 10px;
}

body>div>div.first>span {
    font-size: 20px;
}

body>div>div.first>label {
    font-size: 30px;
}

body>div>input {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    background-color: #229c70;
    color: #00291c;
    border: #063222 solid 2px;
    border-radius: 6px;
    font-size: 45px;
    direction: rtl;
    box-sizing: border-box;
    outline: none;
}

body>div>div.second {
    width: 100%;
}

body>div>div.second>span {
    display: block;
    width: max-content;
    min-width: 80px;
    padding: 10px 20px;
    background-color: #229c70;
    border: #063222 solid 2px;
    font-size: 40px;
    text-align: center;
    border-radius: 6px;
}